html {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
html,
body,
#root,
#__next {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}
* {
  line-height: 1.5;
  line-height: calc(1em + 0.5rem);
  vertical-align: baseline;
}
#root,
#__next {
  isolation: isolate;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
